@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/public/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

@font-face {
  font-family: "Integral CF";
  src: url("/public/fonts/Integralcf-regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("/public/fonts/Integralcf-regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("/public/fonts/Integralcf-extrabold.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Integral CF", sans-serif;
}

h1 {
  font-weight: 900;
  line-height: 64px;
  font-size: 64px;
}

h2 {
  font-weight: 800;
  line-height: 57.6px;
  font-size: 48px;
}

h3 {
  font-family: "Satoshi", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}

P {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #00000099;
}
